<!DOCTYPE html>
<html>

<head>
    <title>Just ตาราง </title>
    <link rel='stylesheet' href='/stylesheets/nav_bar.css' />
    <link rel="stylesheet" href="/stylesheets/main.css">

</head>

<body>

    <header>
        <a class="logo" href="/">Just ตาราง</a>
        <nav>
            <ul class="nav__links">
                <li><a style="color: #0088a9" href="/">หน้าหลัก</a></li>
                <li><a href="/Classrooms">ห้องเรียน</a></li>
                <li><a href="/Subjects">วิชา</a></li>
                <li><a href="/Teachers">ครู</a></li>
                <li><a href="#">กำหนดข้อมูล</a></li>
                <li><a href="#">จัดตาราง</a></li>
                <li><a href="#">พิมพ์ตาราง</a></li>
            </ul>
        </nav>
        <a class="cta" href="/Login">เข้าสู่ระบบ</a>
    </header>

</body>

</html>