<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Just ตาราง</title>

  <link rel="stylesheet" href="/stylesheets/main.css">
  <link rel='stylesheet' href='/stylesheets/nav_bar.css'>
  <link rel='stylesheet' href='/stylesheets/homepage.css'>
  <link rel="preconne ct" href="https://fonts.gstatic.com">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Play&display=swap">
</head>

<body>

  <header>
    <a class="logo" href="/">Just ตาราง</a>
    <nav>
      <ul class="nav__links">
        <li><a style="color: #0088a9" href="/">หน้าหลัก</a></li>
        <li><a href="/Classrooms">ห้องเรียน</a></li>
        <li><a href="/Subjects">วิชา</a></li>
        <li><a href="/Teachers">ครู</a></li>
        <li><a href="#">กำหนดข้อมูล</a></li>
        <li><a href="#">จัดตาราง</a></li>
        <li><a href="#">พิมพ์ตาราง</a></li>
      </ul>
    </nav>
    <a class="cta" href="/Login">เข้าสู่ระบบ</a>
  </header>

  <main>

    <section class="padding-block-section" id="home">
      <div class="container">
        <div class="text-left padding-block-div">
          <h1 class="ff-heading-th fs-primary-heading text-accent-400">Just ตาราง</h1>
          <div class="fs-secondary-heading">
            <p>จัดตารางเรียนตารางสอนร่วมกัน </p>
            <p>สำหรับโรงเรียน</p><br>
            <a href="" class="btn btn-success fs-nav">คลิกเลย !</a>
          </div>

        </div>
      </div>
    </section>

    <a href="#why"><img class="arow-down" src="/assets/down-arrow.png"></a>

    <section class="padding-block-section" id="why">
      <div class="container">
        <h2 class="padding-block-div text-center sff-heading-th fs-secondary-heading fw-bold text-accent-400 ">
          ทำไมต้อง Just ตาราง
        </h2>
        <div class="even-columns">
          <div>ไม่ต้องกังวลคาบที่ไม่ลงรอย เพราะตรวจสอบและป้องกันไม่ให้ครูสอนสองห้องในคาบเดียวกัน</div>
          <div>มองภาพรวมของการเรียนการสอน ตรวจสอบภาระหน้าที่ของครู เพราะมีระบบนับจำนวนคาบที่สอน</div>
          <div>สามารถจัดตารางร่วมกับคนอื่นได้แบบทันใจ ไม่ต้องส่งไฟล์</div>
        </div>
      </div>
    </section>

  </main>

  <footer>
    <div class="footer">
      <div class="row">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-instagram"></i></a>
        <a href="#"><i class="fa fa-youtube"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
      </div>

      <div class="row">
        <ul>
          <li><a href="#">Contact us</a></li>
          <li><a href="#">Our Services</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms & Conditions</a></li>
          <li><a href="#">Career</a></li>
        </ul>
      </div>

      <div class="row">
        Copyright © 2023 Syntax - All rights reserved
      </div>
  </footer>

</body>

</html>